/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr {
  opacity: 0.04;
}
.fa-info:before {
  content: '\f05a';
}

@font-face {
  font-family: 'webfont';
  src: url('../webfonts/webfont.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Hacki0';
  src: url('../webfonts/Hack-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hacki0';
  src: url('../webfonts/Hack-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Hacki0';
  src: url('../webfonts/Hack-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Hacki0';
  src: url('../webfonts/Hack-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

div.code-toolbar code[class*='language-'],
pre[class*='language-'] {
  font-family: Menlo, 'Hacki0', 'SFMono-Regular';
}
